/.idea
**/target
# Built maven projects
*.class
**/target/**

# Eclipse configuration files
**/.metadata*
**/.settings*
*.classpath
*.project
*.springBeans
/Servers/
/RemoteSystemsTempFiles/

# Gradle files
**/.gradle*
**/build/**
**/bin/** 

# Temp files (for ubuntu)
*~

#IntelliJ Idea
*.iml
/bin/
/build/

*.log

### SonarQube Scanner ###
.scannerwork/
